*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #1e1e1e;
}
header{
    display: flex;
    padding: 1%;
    justify-content: center;
    position: fixed;
    left: 19%;
    z-index: 10;
}
header .navbar{
    display: flex;
    justify-content: center;
} 
.navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
    background-color: #2f2f2f;
    box-shadow: 2px 2px 8px #363636, -2px -2px 8px #666666;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: 2%;
    
}
.navbar ul a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe Ui', sans-serif;
    transition: opacity 0.5s ease, transform 0.6s ease;
}
.navbar ul a:hover{
    color: chocolate;
    opacity: 0;
    transform: translateY(-10px);
}
.hero{
    color: white;
    display: flex;
    padding: 5%;
    position: static;
    box-shadow: 4px 4px 15px #000000;
}
.hero-content{
    display: flex;
    flex-direction: column;
    margin-top: 14%;
}
.hero-content h1{
    font-size: 5rem;
}
.hero-content p{
    margin-top: 2rem;
}
.hero-content button{
    margin-top: 2rem;
    width: 15rem;
    height: 6vh;
    border-radius: 20px;
}
.card img{
    width: 35rem;
}
.terre{
    background-color: rgb(30, 47, 57);
    position: static;
    box-shadow: inset 0px 4px 15px #000000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    color: white;
    padding-bottom: 1%;
}
@keyframes anim-div {
    0%{transform: scale(0.5);}
    100%{transform: scale(1);}
}
.terre2{
    background-color: rgb(30, 47, 57);
    position: static;
    box-shadow: inset 0px 4px 15px #000000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    padding-bottom: 1%;
}
.t-cont{
    margin-top: 2%;
    width: 30rem;
    height: 20vh;
    padding: 4%;
}
.t-cont h1{
    font-size: 5rem;
}
.t-cont p{
    font-size: 2rem;
}
.terre img{
    width: 28rem;
    margin: 2%;
    
}
.terre2 img{
    width: 27rem;
    margin: 2%;
}
footer{
    background-color: #1e1e1e;
    padding: 4%;
    color: rgb(184, 184, 184);
    display: flex;
    justify-content: space-around;

}
html{
    scroll-behavior: smooth;
}
